//colors
$color-white: #ffffff;
$color-lightblue: #8ccbea;
$color-black: #000000;
$color-greyish-brown: #4a4a4a;
$color-orange: #f26002;
$color-reasons: #eff9ff;
$color-footer: #304268;
$color-header: #0271bc;

//fonts

$font-main: "Roboto", sans-serif;
$font-second: "Roboto Slab", serif;
