/* main*/
// container1

.container1 {
  // justify-content: center;
  // text-align: center;
  background: url("../images/cover.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-family: "Roboto Slab", sans-serif;
    color: $color-white;
    font-size: 42px;
    font-weight: bold;
    width: 280px;
    text-transform: uppercase;
    text-align: center;
    margin: 280px 15px 11px 15px;
  }
  &__text {
    font-family: $font-main;
    color: $color-white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 45px;
  }
  &__img {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border-radius: 50%;
    margin-bottom: 53px;
    @media all and (min-width: 768px) {
      margin: 0px 361px 45px 362px;
    }
    @media all and (min-width: 1200px) {
      margin: 0px 600px 15px 600px;
    }
  }
}
// container2
.container2 {
  width: 100%;
  height: 375px;
  padding: 30px 0px 45px 16px;
  @media all and (min-width: 768px) {
    padding: 30px 40px 60px 40px;
    height: 330px;
  }
  @media all and (min-width: 1200px) {
    height: 360px;
    padding: 60px 275px 60px 275px;
    font-size: 16px;
  }
  &--title1 {
    font-family: $font-main;
    font-size: 14px;
    color: $color-lightblue;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    margin-bottom: 1px;
    text-transform: capitalize;
    @media all and (min-width: 768px) {
      margin: 0px 450px 0px 0px;
      width: 215px;
      height: 30px;
    }
    @media all and (min-width: 1200px) {
      width: 350px;
      margin: 0px 370px 0px 0px;
    }
  }
  &--title2 {
    font-family: $font-main;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    text-transform: capitalize;
    color: $color-black;
    width: 290px;
    height: 60px;
    margin: 0px 15px 15px 0px;

    @media all and (min-width: 768px) {
      font-size: 26px;
      width: 690px;
      height: 60px;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
    }
  }
  &--text {
    width: 290px;
    height: 120px;
    font-family: $font-main;
    font-size: 18px;
    line-height: 30px;
    color: $color-greyish-brown;
    min-width: 300px;
    margin-top: 15px;
    margin-bottom: 30px;
    @media all and (min-width: 768px) {
      width: 719px;
      height: 60px;
      margin-bottom: 30px;
      font-size: 20px;
    }
    @media all and (min-width: 1200px) {
      width: 719px;
      height: 60px;
    }
  }
  &--button {
    width: 76px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border: 2px solid $color-orange;
    border-radius: 23px;
    margin-bottom: 45px;
    color: $color-orange;
    transition: color ease 0.8s;
    &:hover {
      color: $color-header;
    }
  }
}
// container3
// grid
.container3 {
  width: 100%;
  height: 600px;
  background-color: $color-reasons;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 100px 40px;
  @media all and (min-width: 768px) {
    height: 390px;
    // grid-template-rows: 33vh 33vh 33vh;
  }
  @media all and (min-width: 1200px) {
    height: 420px;
  }
  &__item1 {
    height: 45px;
    width: 290px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    grid-column: 1/4;
    text-align: center;
    font-family: $font-main;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
    &:hover {
      font-size: 30px;
    }
    @media all and (min-width: 768px) {
      font-size: 26px;
    }
    @media all and (min-width: 1200px) {
      height: 45px;
      width: 730px;
      margin-top: 60px;
    }
  }
  &__item2 {
    text-align: center;
    grid-column: 1/4;
    &--title {
      font-family: $font-second;
      font-weight: bold;
      margin-left: 53px;
      margin-right: 53px;
      font-size: 18px;
      color: $color-black;
    }
    &--text {
      font-family: $font-main;
      font-size: 18px;
      color: $color-black;
      margin-left: 55px;
      margin-right: 55px;
    }
  }
  &__item3 {
    text-align: center;
    grid-column: 1/4;
  }
  &__item4 {
    text-align: center;
    grid-column: 1/4;
  }
  &__item5--button {
    width: 200px;
    height: 45px;
    text-align: center;
    grid-column: 1/4;
    background-color: $color-orange;
    color: $color-white;
    font-size: 20px;
    font-family: "Roboto-Medium", sans-serif;
    border: 2px solid $color-orange;
    padding: 10px 30px;
    border-radius: 23px;
    margin: auto;
  }
}
